<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st3.depositphotos.com/1018728/32885/i/600/depositphotos_328859414-stock-photo-projector-in-cinema-hall-with.jpg);">
  <div class="container">
    <h1 class="text-center">Save any kind of movies</h1>
  </div>
</div>

<div class="container my-5">
  <div class="nav-card d-flex justify-content-between">
    <h2>My list</h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat shadow" %>
  </div>

  <div class="cards">

    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Gone_With_The_Wind_1967_re-release.jpg/640px-Gone_With_The_Wind_1967_re-release.jpg)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
    
  </div>

</div>
